body{

margin:0;

font-family:Arial, sans-serif;

background:#eafaff;

}



/* Header */

header{

background:#0077b6;

color:white;

text-align:center;

padding:25px;

}



/* Navigation */

nav a{

color:white;

text-decoration:none;

margin:20px;

font-weight:bold;

}



/* Main sections */

section{

width:80%;

margin:30px auto;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0px 0px 15px gray;

}



/* Image styling */

img{

width:250px;

border-radius:15px;

}



/* Video */

video{
    width:100%;
    max-width:800px;
    aspect-ratio:16 / 9;
    display:block;
    margin:0 auto;
    border-radius:15px;
    object-fit:cover;
}



/* Benefits */

li{

padding:8px;

}





footer{

background:#023e8a;

color:white;

text-align:center;

padding:20px;

}